<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search">
                <i class="bi bi-search"></i>
                <input type="text" class="form-control" placeholder="Search Books" [(ngModel)]="searchText">
            </div>
        </div>
    </div>
    <div class="row">
        <app-spinner *ngIf="spinnerEnabled"></app-spinner>
        <ng-container *ngFor="let book of books | filter: searchText">
            <div class="col-md-3 col-sm-6 mt-4 cursor-pointer">
                <img height="200" width="200" [src]="book.bookCover" alt="" (click)="selectBook(book.id)">
            </div>
        </ng-container>
    </div>
    
    
    
</div>    