<div class="container">
    <form #bookForm="ngForm" enctype="multipart/form-data">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="form-group">
                    <label class="my-2">Title*</label>
                    <input type="text" name="title" #title="ngModel" class="form-control" [(ngModel)]="book.title" pattern="^[a-zA-Z0-9_ ]+$" required>
                    <span class="text-light" *ngIf="title.touched && title.errors">
                        <span *ngIf="title.errors.required">This is required</span>
                        <span *ngIf="title.errors.pattern">Please enter valid details</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="my-2">Published Date*</label>
                    <input type="date" name="publishedDate" class="form-control" [(ngModel)]="book.publishedDate" required>
                </div>
                <!-- <div class="form-group">
                    <label class="my-2">Book Cover</label>
                    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                    <div class="file-upload">
                        {{fileName || 'No file uploaded yet'}}
                        <button class="btn btn-primary btn-sm upload-btn" (click)="fileUpload.click()">
                            <i class="bi bi-paperclip"></i>
                        </button>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="my-2">Book Cover*</label>
                    <input type="text" name="bookCover" #bookCover="ngModel" class="form-control" [(ngModel)]="book.bookCover" required>
                    <span class="text-light" *ngIf="bookCover.touched && bookCover.errors">
                        <span *ngIf="bookCover.errors.required">This is required</span>
                    </span>
                </div>
                <div class="mt-4">
                    <img *ngIf="book.bookCover" height="200" width="200" [src]="book.bookCover" alt="">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label class="my-2">Author*</label>
                    <select name="author" class="form-control" (change)="onChangeAuthor($event)">
                        <option *ngFor="let author of authors" [value]="author.name">{{author.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="my-2">Page Count*</label>
                    <input type="number" name="pageCount" #pageCount="ngModel" class="form-control" [(ngModel)]="book.pageCount" pattern="^[0-9]+$" required>
                    <span class="text-light" *ngIf="pageCount.touched && pageCount.errors">
                        <span *ngIf="pageCount.errors.required">This is required</span>
                        <span *ngIf="pageCount.errors.pattern">Please enter valid details</span>
                    </span>
                </div>
                <div class="form-group">
                    <label class="my-2">Description</label>
                    <textarea class="form-control" name="description" [(ngModel)]="book.description" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <button class="btn btn-success mt-3 me-3" (click)="onSubmit(bookForm)" [disabled]="bookForm.invalid">{{editBook === true ? 'Update' : 'Submit'}}</button>
                <button class="btn btn-info mt-3" (click)="onDismiss()">Cancel</button>
            </div>
        </div>
    </form>
</div>

